.Screen {
    position: relative;
    min-height: 70vh;
    width: 100%;
    z-index: 1;
}

.img {
    width: 100%;
    min-height: 20vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    border: 1.2px rgba(255, 255, 255, 0.4) solid;
}

.img1 {background-image: url("../assets/img/i1.jpg"); margin-top: 10vh;}
.img2 {background-image: url("../assets/img/i2.jpg"); margin-bottom: 16vh; margin-top: 10vh;}